<script type="text/html" id="visitor_head_templ">
  <a-entity class="visitor_head" position="0 1.6 0">
    <a-entity geometry="primitive: box; width: 0.8; height: 0.8; depth: 0.8" material="color:#AAFF00"></a-entity>
    <a-entity geometry="primitive: box; width: 0.75; height: 0.75; depth: 0.05" material="color:black" position="0 0 -0.425"></a-entity>
  </a-entity>
</script>
<script type="text/html" id="visitor_body_templ">
  <a-entity class="visitor_body">
    <a-entity geometry="primitive: box; width: 0.5; height: 1.1; depth: 0.5" material="color:#FFFF00" position="0 0.55 0"></a-entity>
    <a-entity geometry="primitive: box; width: 0.5; height: 0.1; depth: 0.1" material="color:#999900" position="0 0.05 -0.3"></a-entity>
  </a-entity>
</script>
