<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="description" content="{{Description}}">
    {{#each bundle_scripts}}
    <script src="{{this}}" type="text/javascript"></script>
    {{/each}}
    {{#each plugins}}
    <script src="{{this}}" type="text/javascript"></script>
    {{/each}}
  </head>
  <body>
    <a-scene >
      <a-entity camera="userHeight:1.6"  wasd-controls look-controls mouse-cursor id="me"></a-entity>
      <a-plane position="0 0 -4" rotation="-90 0 0" width="400" height="400" static-body material="color: #696969; roughness: 1; metalness: 0.2"></a-plane>
      <a-sky color="#048"></a-sky>
    </a-scene>
  </body>
</html>
